<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
  function nextButtonB() {
    $.ajax({
        url: "/cardStatsB",
        type: "get",
        data: {},
        success: function(response) {
          $("#cardB").html(response)
        },
        error: function(err) {}
    });
  }
</script>


<div class="container" id="cardset">
    <div class="card bg-danger text-white">
        <div class="card-block text-center">
            <img class="card-img-top" src="static/blank_card.jpg" alt="card go here" style="width:100%; height:395px">
            <div class="card-img-overlay">
                <p class="text-left text-dark"> Cards left: {{remaining2}}</p>
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{deck_b[0]}}.png" width="165" height="165"/>
                <h3 class="card-title text-center text-dark"> {{name2}} </h3>
                <p class="text-centern text-dark"> Attack: {{attack2}} </p>
                <p class="text-center text-dark"> Defense: {{defense2}} </p>
                <p class="text-center text-dark"> Types: {{typeB1}}  {{typeB2}} </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}