{% extends "game_layout.html" %}
{% block title %}Home page{% endblock %}
{% block content %}


<div class="container body-content" xmlns="http://www.w3.org/1999/html">
    <div class="jumbotron bg-warning text-center" id="home">
        <h1>Pokemon: The Game</h1>
        <p>Get Ready to take on your opponent! This is the start of your journey, the beginning of the rest of your life.</p>
    </div>
</div>


<style>
    .horizontal-centre {
        display: flex;
        justify-content: center;
        }
</style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
  function startButton1() {
    $.ajax({
        url: "/startA",
        type: "get",
        data: {},
        success: function(response) {
          $("#cardA").html(response)
        },
        error: function(err) {}
    });
  }
  function startButton2() {
    $.ajax({
        url: "startB",
        type: "get",
        data: {},
        success: function(response) {
          $("#cardB").html(response)
        },
        error: function(err) {}
    });
  }
</script>
<audio id="gameAudio">
    <source src="static/Game_Music.mp3" type="audio/mpeg">
</audio>


<script>
var x = document.getElementById("gameAudio");

function playAudio() {
  x.play();
}

function pauseAudio() {
  x.pause();
}

</script>


<div class="container">
    <div class="horizontal-centre">
        <a onclick="startButton1(); startButton2(), style.display='none'" class="btn btn-danger text-white"> Start!</a>
    </div>
</div>


<div class="container" id="cardset">
    <div class="row">
        <div class="col-md-6 col-lg-3">
            <div id="cardA"></div>
        </div>
        <div class="col-md-6 col-lg-3">
             <div class="card-block text-center">
               <img src="static/pokemon_card_rear.png" alt="card go here" style="width:250px; height:395px">
             </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div id="cardB"></div>
        </div>
                <div class="col-md-6 col-lg-3">
             <div class="card-block text-center">
               <img class="card-img-top" src="static/blank_card.jpg" alt="card go here" style="width:100%; height:395px">
                 <div class="card-img-overlay">
                     <h4 class="card-title">Dragon</h4>
                     <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png" width ="200" height ="200"/>
                     <p></p>
                     <p></p>
                     <p class="card-text">This is a test</p>

                 </div>
             </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="column horizontal-centre">
        <button class="bg-warning" onclick="nextButton1(); nextButton2()," > Attack! </button>
        <button class="bg-warning" onclick="playAudio()" type="button">Play Audio</button>
        <button class="bg-primary" onclick="pauseAudio()" type="button">Pause Audio</button>
    </div>
<!--    <div class=" column horizontal-centre">-->
<!--        <form action="/PLACEHOLDER">-->
<!--            <label for="pokemonType"> Choose </label>-->
<!--        </form>-->
<!--    </div>-->
</div>


<div style="margin:10px;"></div>


<div class="container body-content" xmlns="http://www.w3.org/1999/html">
    <div class="jumbotron bg-success text-white text-center">
        <h1>Game Rules</h1>
        <p class="lead">You will be playing against an AI opponent. <br> Each player has a deck of pokemon, equally split between them. <br>
            The aim is to take all of the cards from your opponent, completing your pokedex. </p>
    </div>
</div>


{% endblock %}