<html>
<head>
  <link rel="stylesheet" href="static/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pokedex</title>
</head>
<style>
img {
max-width: 100%;
height: auto;
}
</style>

<body>

<h1 style = "background-color:Tomato;"> Pokedex</h1>


<main id=app>


<form id="messageForm" action="/downloadPokemons" method="get">
    <input type="submit" value="Download Pokemons" onclick="alertMessage()" />
</form>


<script>
function alertMessage() {
  if ("{{alert}}" == "Do you want to override pokemon data? If yes, click Download Pokemons again") {
  window.alert("{{alert}}");
  }
}
</script>

<br>

<form action="/showPokemons" method="get">
<label>Choose a pokemon:</label>
  <select name="name">
    {% for item in names %}
    <option value="{{item[0]}}">{{item[0]}}</option>
    {% endfor %}
  </select>
<input type="submit">
</form>

<style class="hover"></style>

<section class="cards">
  <div class="card animated">
    <p> {{name}}</p>
    <img src="{{art}}">
    <p> Attack: {{attack}} </p>
    <p> Defense: {{defense}} </p>
    <p> Type: {{type}} </p>
  </div>
</section>

</main>

</body>