<html>
<head>
  <link rel="stylesheet" href="static/card2.css">
  <title> Pokedex</title>
</head>

<body>


<main id=app>

<form id="messageForm" action="/downloadPokemons" method="get">
        <input type="submit" value="Download Pokemons" />
</form>


  <section class="cards">
    <div class="card charizard animated"></div>
    <div class="card pika animated"></div>
    <div class="card eevee animated"></div>
    <div class="card mewtwo animated"></div>
  </section>






  <style class="hover"></style>

  <section class="demo">
    <div class="card"></div>
    <span class="operator">+</span>
    <div class="card"><span>color-dodge</span></div>
    <span class="operator">+</span>
    <div class="card"><span>color-dodge</span></div>
  </section>

</main>

</body>